<?xml version="1.0"?>

<launch>
<!--  <node name="mapper" type="mapper" pkg="ethzasl_icp_mapper" output="screen">
    <remap from="cloud_in" to="/scan_cloud/assembled" />
    <param name="subscribe_scan" value="false" />
    <param name="icpConfig" value="$(find hector_icp_mapping)/config/icp.yaml" />
    <param name="inputFiltersConfig" value="$(find hector_icp_mapping)/config/input_filters.yaml" />-->
<!--    <param name="mapPostFiltersConfig" value="$(find hector_icp_mapping)/config/map_post_filters.yaml" />-->
<!--    <param name="odom_frame" value="/base_link" />
    <param name="map_frame" value="/map" />
    <param name="useROSLogger" value="true" />
    <param name="minOverlap" value="0.2" />
    <param name="maxOverlapToMerge" value="0.99" />
    <param name="minReadingPointCount" value="10000" />
    <param name="minMapPointCount" value="10000" />
    <param name="localizing" value="true" />
    <param name="mapping" value="true" />
  </node>-->

<!--    <node name="correct_icp_pose_node" type="correct_icp_mapper_pose_node" pkg="correct_icp_mapper_pose" output="screen" /> -->

<!--   <node name="correct_world_odom_node" type="correct_world_odom_node" pkg="correct_icp_mapper_pose" output="screen" /> -->

  <node name="header_manipulation_node" type="header_manipulation_node" pkg="header_manipulation" output="screen">
    <remap from="header_manipulation_node/input" to="/scan_filtered" />
    <remap from="header_manipulation_node/output" to="/scan_modified" />
  </node>

  <node type="laser_scan_assembler" pkg="laser_assembler" name="assembler" ns="/scan_cloud">
    <remap from="scan" to="/scan_modified"/>
    <param name="max_clouds" type="int" value="400" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>

  <node type="pointcloud_assembler_trigger_node" pkg="pointcloud_assembler_trigger" name="trigger" ns="/scan_cloud">
  </node>

</launch>
