<?xml version="1.0"?>

<launch>

  <group ns="/sensor_head">
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find hector_icp_mapping)/config/multisensor_head_controllers.yaml" command="load" />

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
      args="joint_state_controller
            head1_lidar_controller
            head2_lidar_controller
            head3_lidar_controller
            head5_lidar_controller"/>

    <node name="set_head1_lidar_velocity" pkg="rostopic" type="rostopic" output="screen" args="pub -r 0.1 /sensor_head/head1_lidar_controller/command std_msgs/Float64 'data: 1.6'"/>

    <node name="set_head2_lidar_velocity" pkg="rostopic" type="rostopic" output="screen" args="pub -r 0.1 /sensor_head/head2_lidar_controller/command std_msgs/Float64 'data: 1.6'"/>

    <node name="set_head3_lidar_velocity" pkg="rostopic" type="rostopic" output="screen" args="pub -r 0.1 /sensor_head/head3_lidar_controller/command std_msgs/Float64 'data: 1.6'"/>

    <node name="set_head4_lidar_velocity" pkg="rostopic" type="rostopic" output="screen" args="pub -r 0.1 /sensor_head/head4_lidar_controller/command std_msgs/Float64 'data: 1.6'"/>

    <node name="set_head5_lidar_velocity" pkg="rostopic" type="rostopic" output="screen" args="pub -r 0.1 /sensor_head/head5_lidar_controller/command std_msgs/Float64 'data: 1.6'"/>
  </group>

  <arg name="dev" default="/dev/input/js1" />
  <include file="$(find monstertruck_joystick)/launch/logitech_gamepad_sk.launch" >
    <arg name="dev" value="$(arg dev)" />
  </include>
</launch>