<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="/scan_cloud" />
  <arg name="scan_topic" default="/laser1/scan" />
  <arg name="assemble_full_swipe" default="false" />
  <arg name="min_point_count" default="20" />

  <include file="$(find hector_icp_mapping)/launch/lidar_proc.launch" >
    <arg name="scan_topic" value="$(arg scan_topic)" />
  </include>

<!--  <node name="header_manipulation_node" type="header_manipulation_node" pkg="header_manipulation" output="screen" ns="$(arg namespace)" >
    <remap from="header_manipulation_node/input" to="/scan_cloud/filtered" />
    <remap from="header_manipulation_node/output" to="/scan_cloud/modified" />
    <param name="time_offset_milliseconds" value="0.0" />
  </node>-->

  <node type="point_cloud2_assembler" pkg="laser_assembler" name="assembler" ns="$(arg namespace)" output="screen" >
    <remap from="cloud" to="filtered" />
    <param name="max_clouds" type="int" value="400" />
    <param name="fixed_frame" type="string" value="odom" />
  </node>

  <node type="assembler_trigger_old" pkg="pointcloud_assembler_trigger" name="trigger" ns="$(arg namespace)" output="screen" >
    <remap from="trigger/modified" to="/scan_cloud/filtered" />
    <param name="assemble_full_swipe" value="$(arg assemble_full_swipe)" />
    <param name="min_point_count" value="$(arg min_point_count)" />
    <param name="check_sensor_pos" value="false" />
    <param name="laser_assembler_duration" value="0.33" />
  </node>

  <node pkg="hector_imu_tools" type="pose_and_orientation_to_imu_node" name="pose_and_orientation_to_imu_node" output="screen">
    <remap from="/imu" to="/imu_quat" />
    <remap from="/fused_imu" to="/imu_in" />
    <remap from="/pose" to="/slam_out_pose" />
    <param name="inverse_tf" value="true" />
  </node>

  <node pkg="message_to_tf" type="message_to_tf" name="odom_to_tf" output="screen">
    <param name="frame_id" value="odom" />
    <param name="odometry_topic" value="odom" />
  </node>


</launch>
