<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="/scan_cloud" />
  <arg name="scan_topic" default="/laser1/scan" />
  <arg name="assemble_full_swipe" default="false" />

  <node name="laser1_frame_cal_publisher" type="static_transform_publisher" pkg="tf" output="screen" ns="$(arg namespace)" args="0 0 0 -0.02 0 0 laser1_frame laser1_frame_cal 50" />
  <node name="laser1_link_fixed_publisher" type="static_transform_publisher" pkg="tf" output="screen" ns="$(arg namespace)" args="0.148 0 0.040 0 0 0 top_box_link laser1_link_fixed 50" />
  <node name="laser1_link_cw_publisher" type="static_transform_publisher" pkg="tf" output="screen" ns="$(arg namespace)" args="0 0 0 0 0 0 laser1_link_fixed cw_laser1_link_fixed 50" />
  <node name="laser1_link_ccw_publisher" type="static_transform_publisher" pkg="tf" output="screen" ns="$(arg namespace)" args="0 0 0 0 0 0 laser1_link_fixed ccw_laser1_link_fixed 50" />
<!--  <node name="laser1_link_cw_publisher" type="static_transform_publisher" pkg="tf" output="screen" ns="$(arg namespace)" args="0 0 0 0 0 0.05 laser1_link_fixed cw_laser1_link_fixed 50" />
  <node name="laser1_link_ccw_publisher" type="static_transform_publisher" pkg="tf" output="screen" ns="$(arg namespace)" args="0 0 0 0 0 -0.06 laser1_link_fixed ccw_laser1_link_fixed 50" />-->

  <node name="scan_modification_node" type="scan_modification_node" pkg="header_manipulation" output="screen" ns="$(arg namespace)" >
    <remap from="laser_in" to="$(arg scan_topic)" />
    <remap from="laser_out" to="/scan_cloud/scan" />
    <param name="frame_id_to_replace" value="/laser1_frame" />
    <param name="frame_id_new" value="/laser1_frame_cal" />
    <param name="msg_delay_milliseconds" value="0.0" />
    <param name="time_offset_milliseconds" value="0.0" />
    <param name="publish_retry_rate" value="1000.0" />
<!-- Setting for ohne_video: 25.0 -->
<!-- Setting for speed_3_safe: 42.0 -->
<!-- Setting for speed_6: 12.0 -->
  </node>

  <include file="$(find hector_icp_mapping)/launch/lidar_proc.launch" >
    <arg name="scan_topic" value="/scan_cloud/scan" />
  </include>

  <node type="point_cloud2_assembler" pkg="laser_assembler" name="assembler" ns="$(arg namespace)" output="screen" >
    <remap from="cloud" to="filtered" />
    <param name="max_clouds" type="int" value="4000" />
    <param name="fixed_frame" type="string" value="laser1_link_fixed" />
  </node>

  <node type="assembler_trigger_old" pkg="pointcloud_assembler_trigger" name="trigger" ns="$(arg namespace)" output="screen" >
    <remap from="trigger/modified" to="/scan_cloud/filtered" />
    <param name="assemble_full_swipe" value="$(arg assemble_full_swipe)" />
    <param name="check_sensor_pos" value="true" />
<!--     <param name="check_sensor_pos" value="false" /> -->
    <param name="laser_assembler_duration" value="60.0" />
  </node>

  <node type="odom_estimation" pkg="monstertruck_odom_estimation" name="odom" output="screen" >
    <param name="odom_reference_frame" value="odom" />
    <param name="platform_root_frame" value="base_stabilized" />
    <param name="ang_vel_factor" value="0.9" />
    <param name="lin_vel_factor" value="1.1" />
    <param name="use_dynamic_ang_factor" value="true" />
    <param name="dynamic_activation_threshold" value="0.3" />
    <param name="dynamic_gain_factor" value="20.0" />
    <param name="max_dynamic_ang_factor" value="0.65" />
    <param name="max_steer_angle" value="0.53" />
  </node>


</launch>
